#game-wrap
  #submission{ style: "display: none; position: absolute; top: 100px; left: 100px; z-index: 10; width: 500px; height: 500px; "}
    %textarea#content

:javascript
  var assets = {
    intro: "#{asset_path('intro.svg')}",
    world: "#{asset_path('world.svg')}",
    hollow: "#{asset_path('hollow.svg')}"
  }

  var game = new GameController(assets);
  game.start();
