= embedded_svg "home.svg"

- if @current_level.present? && @current_level > 1
  :javascript
    $('g#continue').on('click', function() {
      window.location.href = '/game#' + #{@current_level - 1};
    });
- else
  :javascript
    $('g#continue').remove();
:javascript
  $('g#newgame').on('click', function() {
    window.location.href = '/game';
  });

  $('g#jobs').on('click', function() {
    window.location.href = 'http://codesthq.com/jobs.html';
  });

  $('g#credits').on('click', function() {
    window.location.href = '/credits';
  });

  $('g.button').on('mouseenter mouseleave', function(e) {
    if (e.type === 'mouseenter') {
      $(this).attr('class', 'button hover');
    } else {
      $(this).attr('class', 'button');
    }

  });
