= embedded_svg "home.svg"

- if @max_level.present? && @max_level > 1
  :javascript
    $('g#continue').on('click', function() {
      window.location.href = '/game#' + #{@max_level - 1};
    });
- else
  :javascript
    $('g#continue').remove();
:javascript
  $('g#newgame').on('click', function() {
    window.location.href = '/game';
  });

  $('g#ranking').on('click', function() {
    alert("YAY!! Ranking!")
  });

  $('g#credits').on('click', function() {
    alert("Created by: The Codext A Team")
  });

  $('g.button').on('mouseenter mouseleave', function(e) {
    if (e.type === 'mouseenter') {
      $(this).attr('class', 'hover');
    } else {
      $(this).attr('class', '');
    }

  });
