= embedded_svg "outro.svg"

:javascript
  $('g#back').on('click', function() {
    window.location.href = '/';
  });

  $('g#fb').on('click', function() {
    fbShare('http://play.codesthq.com/', 'Fb Share', "Yay! I've finished Ruby game!", 'http://goo.gl/dS52U', 520, 350);
  });

  $('g#tw').on('click', function () {
    twitterShare('http://play.codesthq.com/', "Yay! I've finished Ruby game!");
  });

  function fbShare(url, title, descr, image, winWidth, winHeight) {
    var winTop = (screen.height / 2) - (winHeight / 2);
    var winLeft = (screen.width / 2) - (winWidth / 2);
    window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
  }

  function twitterShare(url, title) {
    window.open('http://twitter.com/share?url=' + url + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  }
