!!!
%html
  %head
    %title Cody
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{ :property => "og:title", :content => "Cody – Ruby Adventure Game" }/
    %meta{ :property => "og:image", :content => asset_url("cover.png") }/
    %meta{ :property => "og:site_name", :content => "Cody – Ruby Adventure Game" }/
    %meta{ :property => "og:description", :content => "Play an adventure game in Ruby world " }/
    %meta{ :property => "og:url", :content => "http://play.codesthq.com/" }/
    %meta{ :property => "fb:app_id", :content => "239419573062659" }/

  %body
    = yield
