!!!
%html
  %head
    %title CodyOnRails
    = stylesheet_link_tag    'game', media: 'all'
    = javascript_include_tag 'game'
    = csrf_meta_tags
  %body
    #container{ data: { replace: "#container", source: level_path } }
      = yield
